/* #areaFilter {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#areaFilter:hover {
    background: green;
}

#areaFilter label {
    float:left;
    width:4.0em;
}

#areaFilter label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#areaFilter label input {
    position:absolute;
    top:-20px;
}

#areaFilter input:checked + span {
    background-color: red;
    color:#fff;
}

#test {
    margin-top: 45px;
} */
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
